<div>
    <h2>
        <span jhiTranslate="artWorkApp.userProfileValoration.home.title">User Profile Valorations</span>
        <button class="btn btn-primary float-right jh-create-entity create-user-profile-valoration" [routerLink]="['/', { outlets: { popup: ['user-profile-valoration-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="artWorkApp.userProfileValoration.home.createLabel">
            Create new User Profile Valoration
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userProfileValorations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="artWorkApp.userProfileValoration.value">Value</span></th>
            <th><span jhiTranslate="artWorkApp.userProfileValoration.comments">Comments</span></th>
            <th><span jhiTranslate="artWorkApp.userProfileValoration.valuator">Valuator</span></th>
            <th><span jhiTranslate="artWorkApp.userProfileValoration.valuated">Valuated</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userProfileValoration of userProfileValorations ;trackBy: trackId">
                <td><a [routerLink]="['../user-profile-valoration', userProfileValoration.id ]">{{userProfileValoration.id}}</a></td>
                <td>{{userProfileValoration.value}}</td>
                <td>{{userProfileValoration.comments}}</td>
                <td>
                    {{userProfileValoration.valuator?.login}}
                </td>
                <td>
                    {{userProfileValoration.valuated?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-profile-valoration', userProfileValoration.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-profile-valoration/'+ userProfileValoration.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-profile-valoration/'+ userProfileValoration.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
