<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFollowingLabel" jhiTranslate="artWorkApp.following.home.createOrEditLabel">Create or edit a Following</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!following.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="following.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.following.time" for="field_time">Time</label>
            <div class="d-flex">
                <input id="field_time" type="datetime-local" class="form-control" name="time" [(ngModel)]="following.time"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.following.follower" for="field_follower">Follower</label>
            <select class="form-control" id="field_follower" name="follower" [(ngModel)]="following.follower" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === following.follower?.id ? following.follower : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.following.followed" for="field_followed">Followed</label>
            <select class="form-control" id="field_followed" name="followed" [(ngModel)]="following.followed" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === following.followed?.id ? following.followed : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
