.home-page {
    /* top / right / bottom / left*/
    padding: 25px 50px 25px 50px;
}

.image {
    height: 250px;
    width: 300px;
}

.account-image {
    max-height: 250px;
}

.register-form-image {
    background-color: white;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding-bottom: 10px;
}

.ptop-xsmall {
    padding-top: 10px;
}