<div>
    <div class="row">
        <div class="col-md-12 home-page">
            <div class="row">
                <div class="col-md-2">
                    <div class="row">
                        <a *ngIf="user?.image" (click)="openFile(user?.imageContentType, user?.image)">
                            <img [src]="'data:' + user?.imageContentType + ';base64,' + user?.image" class="account-image" alt="user image" />
                        </a>
                        <a *ngIf="!user?.image">
                            <img src="../../../content/images/default-user.png" alt="default user image" class="account-image" />
                        </a>
                    </div>
                    <p></p>

                    <div class="row w200">
                        <div class="list-group ">
                            <button type="button" class="btn btn-default" (click)="changeView('data')">Mis datos</button>
                            <button type="button" class="btn btn-default" (click)="changeView('follow')">Mis seguidores / seguidos</button>
                            <button type="button" class="btn btn-default" (click)="changeView('media')">Mi contenido</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-1"></div>

                <div class="col-md-9" *ngIf="view == 'data'">

                    <div class="row">
                        <h2>Mis datos</h2>
                    </div>

                    <div>
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <form name="form" role="form" (ngSubmit)="modifyProfile()" #profileForm="ngForm">

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-control-label" for="login">Login</label>
                                                <input type="text" class="form-control" [(ngModel)]="editProfile.login" name="login" disabled>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-control-label" for="email">Correo electrónico</label>
                                                <input type="text" class="form-control" [(ngModel)]="editProfile.email" ng-pending name="email" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-control-label" for="name">Nombre</label>
                                                <input type="text" class="form-control" [(ngModel)]="editProfile.name" ng-pending name="name">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-control-label" for="surname">Apellido</label>
                                                <input type="text" class="form-control" [(ngModel)]="editProfile.surname" ng-pending name="surname">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-control-label" for="city">Ciudad</label>
                                                <input type="text" class="form-control" [(ngModel)]="editProfile.city" ng-pending name="city">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-control-label" for="phone">Teléfono</label>
                                                <input type="text" class="form-control" [(ngModel)]="editProfile.phone" ng-pending name="phone" maxlength="9">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-control-label" for="profession">Profesión</label>
                                                <input type="text" class="form-control" [(ngModel)]="editProfile.profession" ng-pending name="profession">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-control-label" for="working">Trabajando</label>
                                                <div class="row" style="padding-left:15px">
                                                    <label class="radio-inline" *ngIf="editProfile.working">
                                                        <input name="options" ng-control="options" type="radio" checked>
                                                        <strong>Sí</strong>
                                                        <input name="options" ng-control="options" type="radio">
                                                        <strong>
                                                            <Noscript></Noscript>
                                                        </strong>
                                                    </label>
                                                    <label class="radio-inline" *ngIf="!editProfile.working">
                                                        <input name="options" ng-control="options" type="radio">
                                                        <strong>Si</strong>
                                                        <input name="options" ng-control="options" type="radio" checked>
                                                        <strong>No</strong>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" [disabled]="profileForm.form.invalid" class="btn btn-primary pull-right">Guardar cambios</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-9" *ngIf="view == 'follow'">
                    SEGUIDORES Y SEGUIDOS
                </div>

                <div class="col-md-9" *ngIf="view == 'media'">
                    mi multimedia
                </div>
            </div>
        </div>
    </div>
</div>