<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOfferLabel" jhiTranslate="artWorkApp.offer.home.createOrEditLabel">Create or edit a Offer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!offer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="offer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.offer.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="offer.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.offer.description" for="field_description">Description</label>
            <textarea class="form-control" name="description" id="field_description"
                [(ngModel)]="offer.description"  ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.offer.time" for="field_time">Time</label>
            <div class="d-flex">
                <input id="field_time" type="datetime-local" class="form-control" name="time" [(ngModel)]="offer.time"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.offer.salary" for="field_salary">Salary</label>
            <input type="number" class="form-control" name="salary" id="field_salary"
                [(ngModel)]="offer.salary"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.offer.duration" for="field_duration">Duration</label>
            <input type="number" class="form-control" name="duration" id="field_duration"
                [(ngModel)]="offer.duration"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.offer.status" for="field_status">Status</label>
            <input type="checkbox" class="form-control" name="status" id="field_status"
                [(ngModel)]="offer.status"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.offer.tags" for="field_tags">Tags</label>
            <input type="text" class="form-control" name="tags" id="field_tags"
                [(ngModel)]="offer.tags"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.offer.location" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                [(ngModel)]="offer.location"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.offer.contract" for="field_contract">Contract</label>
            <input type="text" class="form-control" name="contract" id="field_contract"
                [(ngModel)]="offer.contract"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.offer.profession" for="field_profession">Profession</label>
            <select class="form-control" id="field_profession" name="profession" [(ngModel)]="offer.profession" >
                <option [ngValue]="null"></option>
                <option [ngValue]="professionOption.id === offer.profession?.id ? offer.profession : professionOption" *ngFor="let professionOption of professions; trackBy: trackProfessionById">{{professionOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.offer.creator" for="field_creator">Creator</label>
            <select class="form-control" id="field_creator" name="creator" [(ngModel)]="offer.creator" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === offer.creator?.id ? offer.creator : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="artWorkApp.offer.userExt" for="field_userExt">User Ext</label>
            <select class="form-control" id="field_userExt" multiple name="userExt" [(ngModel)]="offer.userExts">
                <option [ngValue]="getSelected(offer.userExts, userExtOption)" *ngFor="let userExtOption of userexts; trackBy: trackUserExtById">{{userExtOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
