<div>
    <h2>
        <span jhiTranslate="artWorkApp.pricesT.home.title">Prices TS</span>
        <button class="btn btn-primary float-right jh-create-entity create-prices-t" [routerLink]="['/', { outlets: { popup: ['prices-t-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="artWorkApp.pricesT.home.createLabel">
            Create new Prices T
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pricesTS">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="artWorkApp.pricesT.phone">Phone</span></th>
            <th><span jhiTranslate="artWorkApp.pricesT.name">Name</span></th>
            <th><span jhiTranslate="artWorkApp.pricesT.city">City</span></th>
            <th><span jhiTranslate="artWorkApp.pricesT.tool">Tool</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pricesT of pricesTS ;trackBy: trackId">
                <td><a [routerLink]="['../prices-t', pricesT.id ]">{{pricesT.id}}</a></td>
                <td>{{pricesT.phone}}</td>
                <td>{{pricesT.name}}</td>
                <td>{{pricesT.city}}</td>
                <td>
                    <div *ngIf="pricesT.tool">
                        <a [routerLink]="['../tool', pricesT.tool?.id ]" >{{pricesT.tool?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../prices-t', pricesT.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'prices-t/'+ pricesT.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'prices-t/'+ pricesT.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
