
<div *ngIf="tool">
    <h2><span jhiTranslate="artWorkApp.tool.detail.title">Tool</span> {{tool.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="artWorkApp.tool.active">Active</span></dt>
        <dd>
            <span>{{tool.active}}</span>
        </dd>
        <dt><span jhiTranslate="artWorkApp.tool.time">Time</span></dt>
        <dd>
            <span>{{tool.time | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="artWorkApp.tool.name">Name</span></dt>
        <dd>
            <span>{{tool.name}}</span>
        </dd>
        <dt><span jhiTranslate="artWorkApp.tool.description">Description</span></dt>
        <dd>
            <span>{{tool.description}}</span>
        </dd>
        <dt><span jhiTranslate="artWorkApp.tool.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'artWorkApp.ToolType.' + tool.type}}">{{tool.type}}</span>
        </dd>
        <dt><span jhiTranslate="artWorkApp.tool.user">User</span></dt>
        <dd>
            <span *ngFor="let user of tool.users; let last = last">
                {{user.login}}{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tool/'+ tool.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
