<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCommentLabel" jhiTranslate="artWorkApp.comment.home.createOrEditLabel">Create or edit a Comment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!comment.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="comment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.comment.text" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                [(ngModel)]="comment.text"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.comment.time" for="field_time">Time</label>
            <div class="d-flex">
                <input id="field_time" type="datetime-local" class="form-control" name="time" [(ngModel)]="comment.time"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.comment.likes" for="field_likes">Likes</label>
            <input type="number" class="form-control" name="likes" id="field_likes"
                [(ngModel)]="comment.likes"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.comment.multimedia" for="field_multimedia">Multimedia</label>
            <select class="form-control" id="field_multimedia" name="multimedia" [(ngModel)]="comment.multimedia" >
                <option [ngValue]="null"></option>
                <option [ngValue]="multimediaOption.id === comment.multimedia?.id ? comment.multimedia : multimediaOption" *ngFor="let multimediaOption of multimedias; trackBy: trackMultimediaById">{{multimediaOption.title}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.comment.comment" for="field_comment">Comment</label>
            <select class="form-control" id="field_comment" name="comment" [(ngModel)]="comment.comment" >
                <option [ngValue]="null"></option>
                <option [ngValue]="commentOption.id === comment.comment?.id ? comment.comment : commentOption" *ngFor="let commentOption of comments; trackBy: trackCommentById">{{commentOption.title}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.comment.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="comment.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === comment.user?.id ? comment.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
