<div>
    <h2>
        <span jhiTranslate="artWorkApp.comment.home.title">Comments</span>
        <button class="btn btn-primary float-right jh-create-entity create-comment" [routerLink]="['/', { outlets: { popup: ['comment-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="artWorkApp.comment.home.createLabel">
            Create new Comment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="comments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="artWorkApp.comment.comment">Comment</span></th>
            <th><span jhiTranslate="artWorkApp.comment.time">Time</span></th>
            <th><span jhiTranslate="artWorkApp.comment.likes">Likes</span></th>
            <th><span jhiTranslate="artWorkApp.comment.multimedia">Multimedia</span></th>
            <th><span jhiTranslate="artWorkApp.comment.response">Response</span></th>
            <th><span jhiTranslate="artWorkApp.comment.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comment of comments ;trackBy: trackId">
                <td><a [routerLink]="['../comment', comment.id ]">{{comment.id}}</a></td>
                <td>{{comment.comment}}</td>
                <td>{{comment.time | date:'medium'}}</td>
                <td>{{comment.likes}}</td>
                <td>
                    <div *ngIf="comment.multimedia">
                        <a [routerLink]="['../multimedia', comment.multimedia?.id ]" >{{comment.multimedia?.title}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="comment.response">
                        <a [routerLink]="['../comment', comment.response?.id ]" >{{comment.response?.title}}</a>
                    </div>
                </td>
                <td>
                    {{comment.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../comment', comment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comment/'+ comment.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comment/'+ comment.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
