<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myValorationLabel" jhiTranslate="artWorkApp.valoration.home.createOrEditLabel">Create or edit a Valoration</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!valoration.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="valoration.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.valoration.mark" for="field_mark">Mark</label>
            <input type="number" class="form-control" name="mark" id="field_mark"
                [(ngModel)]="valoration.mark" required min="0" max="5" />
            <div [hidden]="!(editForm.controls.mark?.dirty && editForm.controls.mark?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.mark?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.mark?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.mark?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 5 }">
                    This field cannot be more than 5.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.mark?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.valoration.time" for="field_time">Time</label>
            <div class="d-flex">
                <input id="field_time" type="datetime-local" class="form-control" name="time" [(ngModel)]="valoration.time"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.valoration.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="valoration.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === valoration.user?.id ? valoration.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.valoration.multimedia" for="field_multimedia">Multimedia</label>
            <select class="form-control" id="field_multimedia" name="multimedia" [(ngModel)]="valoration.multimedia" >
                <option [ngValue]="null"></option>
                <option [ngValue]="multimediaOption.id === valoration.multimedia?.id ? valoration.multimedia : multimediaOption" *ngFor="let multimediaOption of multimedias; trackBy: trackMultimediaById">{{multimediaOption.title}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
