<div>
    <h2>
        <span jhiTranslate="artWorkApp.profession.home.title">Professions</span>
        <button class="btn btn-primary float-right jh-create-entity create-profession" [routerLink]="['/', { outlets: { popup: ['profession-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="artWorkApp.profession.home.createLabel">
            Create new Profession
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="professions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="artWorkApp.profession.name">Name</span></th>
            <th><span jhiTranslate="artWorkApp.profession.sector">Sector</span></th>
            <th><span jhiTranslate="artWorkApp.profession.workersNum">Workers Num</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let profession of professions ;trackBy: trackId">
                <td><a [routerLink]="['../profession', profession.id ]">{{profession.id}}</a></td>
                <td>{{profession.name}}</td>
                <td>{{profession.sector}}</td>
                <td>{{profession.workersNum}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../profession', profession.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'profession/'+ profession.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'profession/'+ profession.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
