<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserExtLabel" jhiTranslate="artWorkApp.userExt.home.createOrEditLabel">Create or edit a User Ext</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userExt.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userExt.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.userExt.birthdate" for="field_birthdate">Birthdate</label>
            <div class="input-group">
                <input id="field_birthdate" type="text" class="form-control" name="birthdate" ngbDatepicker  #birthdateDp="ngbDatepicker" [(ngModel)]="userExt.birthdate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="birthdateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.userExt.image" for="field_image">Image</label>
            <div>
                <img [src]="'data:' + userExt.imageContentType + ';base64,' + userExt.image" style="max-height: 100px;" *ngIf="userExt.image" alt="userExt image"/>
                <div *ngIf="userExt.image" class="form-text text-danger clearfix">
                    <span class="pull-left">{{userExt.imageContentType}}, {{byteSize(userExt.image)}}</span>
                    <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_image" (change)="setFileData($event, userExt, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                [(ngModel)]="userExt.image"  />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="userExt.imageContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.userExt.phone" for="field_phone">Phone</label>
            <input type="number" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="userExt.phone"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.userExt.kind" for="field_kind">Kind</label>
            <input type="number" class="form-control" name="kind" id="field_kind"
                [(ngModel)]="userExt.kind"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.userExt.tags" for="field_tags">Tags</label>
            <input type="text" class="form-control" name="tags" id="field_tags"
                [(ngModel)]="userExt.tags"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.userExt.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="userExt.address"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.userExt.popular" for="field_popular">Popular</label>
            <input type="number" class="form-control" name="popular" id="field_popular"
                [(ngModel)]="userExt.popular" min="0" max="5" />
            <div [hidden]="!(editForm.controls.popular?.dirty && editForm.controls.popular?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.popular?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.popular?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 5 }">
                    This field cannot be more than 5.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.popular?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.userExt.companyPoints" for="field_companyPoints">Company Points</label>
            <input type="number" class="form-control" name="companyPoints" id="field_companyPoints"
                [(ngModel)]="userExt.companyPoints" min="0" max="5" />
            <div [hidden]="!(editForm.controls.companyPoints?.dirty && editForm.controls.companyPoints?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.companyPoints?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.companyPoints?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 5 }">
                    This field cannot be more than 5.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.companyPoints?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.userExt.validated" for="field_validated">Validated</label>
            <input type="checkbox" class="form-control" name="validated" id="field_validated"
                [(ngModel)]="userExt.validated"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.userExt.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                [(ngModel)]="userExt.age"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.userExt.working" for="field_working">Working</label>
            <input type="checkbox" class="form-control" name="working" id="field_working"
                [(ngModel)]="userExt.working"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.userExt.theme" for="field_theme">Theme</label>
            <select class="form-control" name="theme" [(ngModel)]="userExt.theme" id="field_theme" >
                <option value="BLACK">{{'artWorkApp.Theme.BLACK' | translate}}</option>
                <option value="WHITE">{{'artWorkApp.Theme.WHITE' | translate}}</option>
                <option value="MINIMAL">{{'artWorkApp.Theme.MINIMAL' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.userExt.resume" for="field_resume">Resume</label>
            <div>
                <div *ngIf="userExt.resume" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(userExt.resumeContentType, userExt.resume)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{userExt.resumeContentType}}, {{byteSize(userExt.resume)}}</span>
                    <button type="button" (click)="userExt.resume=null;userExt.resumeContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_resume" (change)="setFileData($event, userExt, 'resume', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="resume" id="field_resume"
                [(ngModel)]="userExt.resume"  />
            <input type="hidden" class="form-control" name="resumeContentType" id="field_resumeContentType"
                [(ngModel)]="userExt.resumeContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.userExt.rememberInfo" for="field_rememberInfo">Remember Info</label>
            <input type="checkbox" class="form-control" name="rememberInfo" id="field_rememberInfo"
                [(ngModel)]="userExt.rememberInfo"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.userExt.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="userExt.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === userExt.user?.id ? userExt.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.userExt.city" for="field_city">City</label>
            <select class="form-control" id="field_city" name="city" [(ngModel)]="userExt.city" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cityOption.id === userExt.city?.id ? userExt.city : cityOption" *ngFor="let cityOption of cities; trackBy: trackCityById">{{cityOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.userExt.language" for="field_language">Language</label>
            <select class="form-control" id="field_language" name="language" [(ngModel)]="userExt.language" >
                <option [ngValue]="null"></option>
                <option [ngValue]="languageOption.id === userExt.language?.id ? userExt.language : languageOption" *ngFor="let languageOption of languages; trackBy: trackLanguageById">{{languageOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.userExt.profession" for="field_profession">Profession</label>
            <select class="form-control" id="field_profession" name="profession" [(ngModel)]="userExt.profession" >
                <option [ngValue]="null"></option>
                <option [ngValue]="professionOption.id === userExt.profession?.id ? userExt.profession : professionOption" *ngFor="let professionOption of professions; trackBy: trackProfessionById">{{professionOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.userExt.workingOn" for="field_workingOn">Working On</label>
            <select class="form-control" id="field_workingOn" name="workingOn" [(ngModel)]="userExt.workingOn" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === userExt.workingOn?.id ? userExt.workingOn : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
