<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCommentLikeLabel" jhiTranslate="artWorkApp.commentLike.home.createOrEditLabel">Create or edit a Comment Like</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!commentLike.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="commentLike.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.commentLike.time" for="field_time">Time</label>
            <div class="d-flex">
                <input id="field_time" type="datetime-local" class="form-control" name="time" [(ngModel)]="commentLike.time"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.commentLike.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="commentLike.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === commentLike.user?.id ? commentLike.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="artWorkApp.commentLike.comment" for="field_comment">Comment</label>
            <select class="form-control" id="field_comment" name="comment" [(ngModel)]="commentLike.comment" >
                <option [ngValue]="null"></option>
                <option [ngValue]="commentOption.id === commentLike.comment?.id ? commentLike.comment : commentOption" *ngFor="let commentOption of comments; trackBy: trackCommentById">{{commentOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
