<div>
    <h2>
        <span jhiTranslate="artWorkApp.training.home.title">Trainings</span>
        <button class="btn btn-primary float-right jh-create-entity create-training" [routerLink]="['/', { outlets: { popup: ['training-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="artWorkApp.training.home.createLabel">
            Create new Training
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="trainings">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="artWorkApp.training.startYear">Start Year</span></th>
            <th><span jhiTranslate="artWorkApp.training.endingYear">Ending Year</span></th>
            <th><span jhiTranslate="artWorkApp.training.degree">Degree</span></th>
            <th><span jhiTranslate="artWorkApp.training.studyCenter">Study Center</span></th>
            <th><span jhiTranslate="artWorkApp.training.competitions">Competitions</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let training of trainings ;trackBy: trackId">
                <td><a [routerLink]="['../training', training.id ]">{{training.id}}</a></td>
                <td>{{training.startYear}}</td>
                <td>{{training.endingYear}}</td>
                <td>{{training.degree}}</td>
                <td>{{training.studyCenter}}</td>
                <td>
                    <a *ngIf="training.competitions" (click)="openFile(training.competitionsContentType, training.competitions)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="training.competitions">{{training.competitionsContentType}}, {{byteSize(training.competitions)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../training', training.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'training/'+ training.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'training/'+ training.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
