<div>
    <h2>
        <span jhiTranslate="artWorkApp.city.home.title">Cities</span>
        <button class="btn btn-primary float-right jh-create-entity create-city" [routerLink]="['/', { outlets: { popup: ['city-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="artWorkApp.city.home.createLabel">
            Create new City
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="artWorkApp.city.name">Name</span></th>
            <th><span jhiTranslate="artWorkApp.city.totalUsers">Total Users</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let city of cities ;trackBy: trackId">
                <td><a [routerLink]="['../city', city.id ]">{{city.id}}</a></td>
                <td>{{city.name}}</td>
                <td>{{city.totalUsers}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../city', city.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'city/'+ city.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'city/'+ city.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
